.form {
  position: relative;
}

.member > div {
  border-left: none !important;
  color: initial !important;
}

.member .checkbox input,
.member .radio input {
  margin-right: 5px;
}

label.memberTitle,
label.voteTitle {
  text-align: left;
}

.inputWrapper {
  padding: 15px 0px;
}

.inputError {
  color: red;
  font-weight: 300;
  font-size: 14px;
  padding-left: 30px;
  margin-top: -5px;
}